/* 3x3 MATRIX */
.matrix-wrapper {
  width: 700px;
  /* height: 700px; */
  /* border: 1px dotted black; */
  /* border-radius: 20px; */
}

.matrix {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
}

.item {
  border: 1px dotted gray;
  width: 215px;
  height: 215px;
  padding-bottom: 215px; /* Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
