* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-top: 50px;
}

header h1 {
  color: #888;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

header h1 strong {
  color: #313131;
}
