<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Anime RS</title>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <!-- FontAwesome CDN -->
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" /> -->

  <!-- Style sheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
  <div class="app">
    <header>
      <h1>The<strong>Anime</strong>3x3</h1>
    </header>

    <div class="container-xxl">
      <div class="col">
        <form class="form-inline">
          <input id="user-input" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
            aria-label="Search" required>
        </form>
      </div>


      <div class="row justify-content-center">
        <div class="col-md">
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-md">
          <div class="container matrix-wrapper">
            <div class="matrix">
              {% include 'matrix.html' %}
            </div>
            <button type="button" class="btn btn-outline-success" id="submit">Recommend</button>
            <button type="button" class="btn btn-outline-danger" id="clear">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'script.js' %}"></script>
  <!-- <script src="{% static 'recommend.js' %}"></script> -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>